@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Наша информация";
}

<!DOCTYPE html>

<h3>@ViewData["Message"]</h3>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Hobbies.css" />
    <title>Информация о сервере</title>
</head>

<body>
</body>
</html>
