@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Главная";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Hobbies.css" />
</head>
<body>
</body>
</html>
